/*
=========================================
Main 
========================================
*/
.main{
	border: 2px solid black;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 600px;
	background-color: #10c8cd;

}

body{
	position: relative;
	display: block;
}


/*
=========================================
Heading 
========================================
*/
input#clear{
	cursor:pointer;
	padding: 5px 25px;
	background: #faf93c;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
	color: #213240;
	font-size:1.1em;
	font-family: Georgia;

}

.heading{
	width: 100%;
	height: 15%;
	border: 2px solid black;
	background-color: #213240;

}

.mylist{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: auto;
	margin-top: auto;
	color: white;
	font-family: Georgia;
	font-size: 48px;
	padding-bottom: 25px;
	padding-top: auto;

}



/*
=========================================
Center 
========================================
*/

.center{
	width: 100%;
	height: 10%;
	display: inline-block;
	position: relative;
}


.item{
	display: inline-block;
	text-align: center;
	width: 50%;
	height: 100%;
	position: absolute;
	margin-left: 25%;
}

input[type=text]#item{
	cursor:pointer;
	background: #FAF93c;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
	color: #213240;
	font-size:1.7em;
	font-family: Georgia;
	margin-top: 15px;
	text-align: center;

}

#submit{
	margin-top: 15px;
	padding-left: 5px;
	cursor: pointer;
	background: #FAF93c;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
	color: #213240;
	font-size: 1.7em;
	font-family: Georgia;
	text-align: center;
	
}
.submit{
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 20%;
	margin-left: 80%;

}



/*
=========================================
 Middle
========================================
*/
.middle{
	width: 100%;
	height: 73%;
	position: relative;
	padding: 0px;
	margin: 0px;
}

#second{
	width: 100%;
	height: 4%;
	position: relative;
	text-align: left;
}




.groceries{
	margin-bottom: auto;
	margin-top: auto;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	font-family: Georgia;
	font-size: 1.7em;

}




.cancel{
	display: none;
}

/*
=========================================
Remove Button
========================================
*/

#remove{
	margin-top: 15px;
	padding-left: 5px;
	cursor: pointer;
	background: #ec1559;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 4px white;
	color: #213240;
	font-size: .7em;
	font-family: Georgia;
	text-align: right;
	
}
.in-cart{
	text-decoration: line-through;
}














/*
=========================================
Main 
========================================
*/


















/*
=========================================
Main 
========================================
*/
